- var siteTitle = 'Open Dispatch'
doctype html
html(lang="en")
  head
    title=siteTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .container-fluid
      .row
        .col-md-12
          h1=siteTitle
      block content
  block scripts
